.popup{
    display: flex;
    width: 90%;
    height: fit-content;
    box-shadow: -2px 4px 25px -6px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: calc(50% - 150px);
    left: 5%;
    z-index: 400 !important;
    background-color: #fff;
    border-radius:10px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 400px !important;
    overflow-y: scroll;
}

.Cicon{
    width: fit-content;
    height: fit-content;
    position: sticky;
    top: 20px;
    margin-left: 96%;
}

.popup::-webkit-scrollbar{
    display: none;
}

.itemS{
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px !important;
    cursor: pointer;

}

.itemS:hover{
    transform: scale(1.12);
}

.image{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: contain !important;
    border: 1px solid grey;
}

.item > h4{
    text-align: center !important;
}