.in-details{
    padding: 40px 20px !important;
    font-family: "poppins" !important;
    color: grey;
}

.in-details > h3{
    font-size: 2em !important;
    color: green !important;
}

.label{
    color:grey !important;
    font-weight: bold !important;
    font-size: 1.5em !important;
}

.para{
    max-width: 600px !important;
    color: darkgrey !important;
    line-height: 1.5em !important;
    margin-bottom: 60px !important;
    font-size: 1.1em !important;
}

.in-details{
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
}

.in-details > div{
    width: fit-content !important;
    height: fit-content !important;
}


.itemss{
    border-radius: 10px !important;
    width: fit-content !important;
    padding: 10px !important;
    border: 1px solid lightgray !important;
    margin-bottom: 20px !important;
}

.itemss-2{
    border-radius: 10px !important;
    width: 300px !important;
    border: 1px solid lightgray;
    padding: 10px !important;
}

.para2{
    width: 300px !important;
    color: darkgrey !important;
    line-height: 1.5em !important;
    font-size: 1.1em !important;
}

.carousel-container{
    width: 300px !important;
    background-color: none !important;
}

.images-box{
    width: 300px !important;
    border-radius: 10px !important;
}

.images-box::-webkit-scrollbar{
    display: none !important;
}

.inimage{
    width: 300px !important;
    height: 300px !important;
}

.edit-button{
    width: 250px !important;
    color: white !important;
    background-color: green !important;
    margin: 20px auto !important;
    display: block !important;
}


.edit-button:hover{
    background-color: lightgreen !important;
}

.ia{
    width: 600px !important;
    height:  fit-content !important;
    outline: none !important;
    border: 1px solid grey !important;
    background-color: whitesmoke !important;
    color: grey !important;
    display: flex !important;
    align-items: center !important;
    font-size: 1em !important;
    line-height: 1.5em;
    padding: 5px !important;
}

.ta{
    width: 600px !important;
    height:  fit-content !important;
    outline: none !important;
    border: 1px solid grey !important;
    background-color: whitesmoke !important;
    color: grey !important;
    display: flex !important;
    align-items: center !important;
    font-size: 1.2em !important;
    line-height: 1.5em;
    min-height: 200px !important;
    max-height: 400px !important;
    padding: 5px !important;
}

.hide{
    opacity: 0 !important;
}

.images{
    width: 150px !important;
    height: 150px !important;
    margin: 10px !important;
}

.gym-tag{
    display: flex !important;
    flex-wrap: wrap !important;
}

.img-item{
    width: 150px !important;
    height: 150px !important;
    background-color: lightgrey;
    margin: 10px !important;
    border-radius: 10px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: pink;
}

.bbb{
    background-color: green !important;
    padding: 10px !important;
    border-radius: 50% !important;
}


.para-3{
    margin: 20px 0px !important;
    line-height: 1.5em !important;
}

.ta-modify{
    width: 300px !important;
    border: 1px solid lightgrey !important;
    color: grey !important;
    border-radius: 10px !important;
}

.avatar-new{
    margin: 10px 0px !important;
    border: 1px solid grey !important;
}

.red{
    background-color: red !important;
}

.red:hover{
    background-color: rgb(255, 173, 173) !important;
}

@media(max-width: 700px){
    .para{
        width: 300px !important;
    }
}