.banner{
    height: 578px;
    width: 100%;
    background-color: #FFECE4;
    margin: 80px 0px;
}

.bannerImage{
    width: 100%;
    height: 578px;
}

@media(max-width:767px){
    .bannerImage{
       height: 300px !important;
    }

    .banner
    {
       height: 300px !important;
    }
}