
.form{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form > h3{
    margin: 0px !important;
    text-align: left !important;
    width: 80%;
}

.priceChart{
    color: whitesmoke !important;
    margin-bottom: 40px !important;
}

.form > h2, .chart > h2{
    color: #42b9e9 !important;
    font-size: 25px !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-align: center !important;
}

.chart{
    display: inline-block;
    width: 280px !important;
    padding: 10px !important;
    border-radius: 15px !important;
    border: 1px solid lightgray !important;
    box-shadow: -2px 4px 25px -6px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0) !important;
    margin: 10px 20px !important;
}

.chart > p{
    font-weight: 700;
    font-size:20px !important;
    font-style: normal;
    color: green;
    text-align: center;
}

.chart >p > span{
    font-size: 50px !important;
    color: green;
}

.price{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    border: none !important;
    border-bottom: 3px solid orangered !important;
    color: #42b9e9 !important;
    font-size: 20px !important;
    margin: 10px auto !important;
    outline: none !important;
    text-align: center !important;
    font-weight: bold !important;
    cursor: pointer !important;
    background-color: black !important;
}

.radio{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    width: 100px !important;
    border: 2px solid #42b9e9 !important;
    border-radius: 40px !important;
    padding: 10px 10px !important;
    font-weight: 700;
    margin: 5px !important;
}

.r{
    display: flex !important;
    align-items: center;
    justify-content: center !important;
}


.buttons{
    color: whitesmoke !important;
    border: 2px solid orangered !important;
    padding: 0px !important;
    width: 200px !important;
    padding: 10px 0px !important;
    margin-bottom: 20px !important;
}

.r>img{
    width: 80px !important;
    height: 80px !important;
    margin: 50px 0px !important;
}

.timing{
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: flex-start !important;
}

.timing > div{
    display: flex !important;
    flex-direction: column !important;
}

.select{
    width: 300px !important;
    padding: 10px !important;
    margin: 40px 0px !important;
}

.mode{
    color: skyblue !important;
}

.show{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    margin: 60px 0px !important;
    border: 2px solid orangered !important;
    padding: 20px !important;
}

.timehere{
    border: 2px solid grey;
    padding: 10px !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 300px !important;
    margin: 10px !important;
    background-color:whitesmoke !important;
}

.timehere > h4{
    margin: 0px !important;
}