.price-item{
    width: 280px !important;
    padding: 20px !important;
    font-family: 'helvetica' !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    border: 2px solid lightgrey !important;
    border-radius: 13px !important;
    margin: 10px !important;
    box-shadow: -2px 4px 10px -6px rgba(0, 0, 0, 0.7) !important;
}

.price-para{
    color: grey !important;
    margin: 20 !important;
    margin-top: -20px !important;
}

.price-amount{
    text-align: center !important;
    width: 100% !important;
}


.buttonold{
    margin: 10px 0px !important;
    padding: 5px 0px !important;
}

.prices{
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    justify-content: center !important;
}
