.icons{
    width: fit-content;
    height: fit-content;
    margin: 20px;
}

.FilterIcon{
    font-size: 40px !important;
    color: skyblue;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.itemSS{
    border: 1px solid #1b1b1b !important;
    width: 250px !important;
    border-radius:50px !important;
    background-color: rgb(220, 229, 241) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}