.banner{
    height: 578px;
    width: 100%;
    background-color: #FFECE4;
}

.bannerImage{
    width: 100%;
    height: 578px;
}

@media(max-width: 1150px){
    .bannerImage{
        height: 380px !important;
     }
 
     .banner
     {
        height: 380px !important;
     }
}


@media(max-width:767px){
     .bannerImage{
        height: 300px !important;
     }

     .banner
     {
        height: 300px !important;
     }
}

@media(max-width:550px){
    .bannerImage{
        height: 220px !important;
     }
 
     .banner
     {
        height: 220px !important;
     }
}